.THIS .lgc-bg {
    background-color: rgb(242, 242, 242);
    
}

.THIS .lgbuttonstyle1{
    margin: 2px;
    color: #FFFFFF;
}

.THIS .pillstyle>a{
    color: #003300;
    font-weight: bold;
}
.THIS .lgbuttonstyle{
    margin: 2px;
    color: #008b8b;
}